<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Panel</title>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
</head>
<body class="panel">
  <a class="button" id="next-btn" href="panel/next">Next Question</a>
  <a class="button green" id="block-btn">Block Question</a>
  <a class="button red" id="reset-btn">Reset</a><br>
  {{#config}}
    <div class="curr-question">Current Question: <strong id="curr-question">{{config.currentQuestion}}</strong></div>
  {{/config}}
  <div id="questions">

  </div>
  <script>
    var questions = {{{votes}}};
  </script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="js/panel.js"></script>
</body>
</html>
