<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Polling</title>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/voter.css">
</head>
<body>
    <div id="blocker" class="hidden"></div>
    <div id="0" class="vote-btn red"><h2>1</h2></div>
    <div id="1" class="vote-btn blue"><h2>2</h2></div>
    <div id="2" class="vote-btn green"><h2>3</h2></div>
    <div id="3" class="vote-btn yellow"><h2>4</h2></div>
    <input type="hidden" value="{{id}}" id="id">
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/voter.js"></script>
</body>
</html>
