html, body {
  width: 100%;
  height: 100%;

  box-sizing: border-box;
}

.question {
  width: 100%;
  display: block;
  height:20%;
  padding:0 20px;
  box-sizing: border-box;
  display:flex;
  align-items:center;
  box-sizing: border-box;
}

.options {
  position:absolute;
  top:20%;
  display: block;
  width:100%;
  height:80%;
  list-style: none;
  margin:0;
  padding: 0;
}

.options li {
  width: 100%;
  height: 25%;
  margin:0;
  padding: 0 20px;
  display:flex;
  align-items:center;
  box-sizing: border-box;
}

.panel {
 padding:20px;
}

.button {
  background: rgb(0, 120, 231);
  border-radius: 2px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  margin:10px 5px;
}

.curr-question {
  font-size:130%;
  width:100%;
  background: #ddd;
  padding:5px;
  box-sizing: border-box;
}

.panel ul{
  list-style: none;
  padding: 0;
}
.panel ul li {
  margin: 5px;
  padding: 5px 0;
  border-bottom: 1px solid #eee;
}

.red {
  background:#e74c3c;
  z-index:0;
}
.blue {
  background:#3498db;
}
.green {
  background:#40d47e;
}
.yellow {
  background:#f1c40f;
}

.hidden {
  display: none;
}
